.main {
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}
